<!DOCTYPE html>
<html>
<head>
  <title>Provisioning Test Page</title>
  <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
  <style type="text/css">
    body {
      text-align:center;
      font-family: 'Slabo 27px', serif;
      height:100vh;
    }

    .vertical-center {

      position:relative;
      top:50%;
      transform: translateY(-50%);

    }

    img {
      width:100px;
    }
  </style>
</head>
<body>
  <div class="vertical-center">
<<<<<<< HEAD
    <h1>TEST FOR WEBHOOK</h1>
=======
    <h1>TEST AGAIN??</h1>
>>>>>>> c8990b8db144a029b62e7193027f6576a3f850cd


    <p>Welcome to the Sparta Test App</p>
    <img src="/images/logo.png" />
  </div>
</body>
</html>
